h1 {
  font-weight: 400;
  font-size: 2.5rem;
}
/*h2 {
  font-weight: 400;
  font-size: 2rem;
}*/
.round {
  border-radius: 50%;
}
.wh-24 {
  width: 24px;
  height: 24px
}
.mr-32 {
  margin-right: 32px
}